$rad: 0.4em;
$anim: 0.2s;
$fg: rgb(235, 235, 235);
$fg_lo1: rgb(110, 110, 110);

$fg: rgb(235, 235, 235);
$fg_lo1: rgb(110, 110, 110);

$bg: rgba(10, 10, 10, 0.6);
$bg_hi1: rgba(30, 30, 30, 0.6);
$bg_hi2: rgba(60, 60, 60, 0.6);
$bg_lo1: rgba(0, 0, 0, 0.4);

$hi_1: #01FFAB;
$hi_2: #00E5E0;
$hi_3: #0196FF;
$hi_4: #7F57FF;

//$border: solid 1px rgba(200, 200, 200, 0.2);
//$border: solid 1px rgba(10, 10, 10, 0.9);
$border: none;

* {
    all: unset;
    font-family: Roboto;
    font-size: 12pt;
    color: $fg;
}

*.icon {
    font-family: "Material Icons";
}

.bar {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));

    box.workspaces, box.active-window, box.sidestuff {
        padding: 0.6em;
        padding-top: 0;
    }

    box.workspaces {
        .workspace-entry {
            padding: 0.2em 0.8em;
            color: $fg_lo1;
            background-color: $bg;
            border: $border;
            border-right: none;
            border-left: none;
            transition: background-color $anim, color $anim;
        }
        .workspace-entry:first-child {
            border-radius: $rad 0 0 $rad;
            border-left: $border;
        }
        .workspace-entry:last-child {
            border-radius: 0 $rad $rad 0;
            border-right: $border;
        }
        .workspace-entry:first-child:last-child {
            border-radius: $rad;
        }
        .workspace-entry.current {
            color: $fg;
            background-color: $bg_hi1;
        }
        .workspace-entry:hover {
            background-color: $bg_hi2;
        }
        .workspace-entry label {
            color: $fg_lo1;
        }
        .workspace-entry.current label, .workspace-entry:hover label {
            color: $fg;
        }
    }

    box.active-window{
        padding-left: 0;
        label {
            background-color: $bg_hi1;
            border-radius: $rad;
            border: $border;
            padding: 0.4em;
        }
    }

    box.sidestuff {
        > widget box {
            background-color: $bg;
            border: $border;
            border-right: none;
            border-left: none;
            padding: 0.4em 0.6em;
            transition: background-color $anim, color $anim;
            label {
                transition: color $anim;
            }
        }
        > widget:first-child box {
            border-radius: $rad 0 0 $rad;
            border-left: $border;
        }
        > widget:last-child box {
            border-radius: 0 $rad $rad 0;
            border-right: $border;
        }

        > widget box.value {
            background-color: transparent;
            border: none;
            label {
                color: transparent;
                font-size: 0.6em;
            }
        }

        > widget box.circle {
            background-color: transparent;
            border: none;
            padding: 0.3em;
            circular-progress {
                color: rgba(140, 140, 140, 0.6);
                background-color: rgba(60, 60, 60, 0.6);
                transition: background-color $anim;
            }
        }

        > widget.brightness {
            box.icon label, box.circle circular-progress {
                color: $hi_3;
            }
        }

        > widget.volume {
            box.icon label, box.circle circular-progress {
                color: $hi_2;
            }
        }

        > widget.battery {
            box.icon label, box.circle circular-progress {
                color: $hi_1;
            }
        }

        > widget:hover {
            box {
                background-color: $bg_hi2;
            }
            box.icon {
                label {
                    color: transparent;
                }
            }
            box.value {
                background-color: transparent;
                label {
                    color: $fg;
                }
            }
            box.circle {
                background-color: transparent;
                color: rgba(255, 255, 255, 0.4);
            }
        }
    }
}


