/*
!.gitignore
!bashrc
!sway
!waybar
!zsh
!nvim/init.vim
!nvim/coc-settings.json
!vimrc
!termite/config
!kitty/kitty.conf
!tmux.conf
!rofi/config
!mako/config
!fontconfig/fonts.conf
!gtk-2.0/gtk.css
!gtk-3.0/gtk.css
